<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams."
    />
    <meta name="author" content="Webpixels" />
    <title>LearnFlow - Create Post</title>
    <!-- Favicon -->
    <link rel="icon" href="/cstm-assets/logo.svg" type="image/png" />
    <!-- Font Awesome 5 -->
    <link
      rel="stylesheet"
      href="/libs/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="/css/purpose.css" id="stylesheet" />
  </head>

  <body>
    <header class="header" id="header-main">
      <!-- Main navbar -->
      <%- include('partials/navbar'); %>
    </header>

    <div class="main-content">
      <!-- Header (account) -->

      <section class="slice slice-lg" data-offset-top="#header-main">
        <div class="container pt-6">
          <div class="row justify-content-center">
            <div class="col-md-9">
              <h1 class="lh-150 mb-3"><%= post.title %></h1>

              <div class="media align-items-center mt-5">
                <div>
                  <a
                    href="blog-article.html#"
                    class="avatar rounded-circle mr-3"
                  >
                    <img alt="Image placeholder" src="<%= post.userImage %>" />
                  </a>
                </div>
                <div class="media-body">
                  <span class="d-block h6 mb-0"><%= post.username %></span>
                  <span class="text-sm text-muted"><%= createdDate %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="bg-cover bg-size--cover"
        id="bg-cover"
        style="
          height: 600px;
          background-image: url(``);
          background-position: center;
        "
      ></section>
      <section class="slice">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <!-- Article body -->
              <article><%- post.innerHTML %></article>
              <hr />
              <h5 class="mb-4">Comments</h5>
              <div class="mb-3">
                <% for(var comment of comments) {%>
                <div class="media media-comment">
                  <img
                    alt="Image placeholder"
                    class="rounded-circle shadow mr-4"
                    src="<%= comment.authorImage %>"
                    style="width: 64px"
                  />
                  <div class="media-body" id="comment-<%= comment._id %>">
                    <div class="media-comment-bubble left-top">
                      <h6 class="mt-0"><%= comment.author %></h6>
                      <p class="text-sm lh-160"><%= comment.commentText %></p>
                      <div class="icon-actions">
                        <button
                          href="blog-article.html#"
                          class="btn btn-small"
                          onclick="loadReplies(`<%= comment._id %>`, `<%= comment.depth %>`)"
                        >
                          <i class="fas fa-comment"></i>
                          <span class="text-muted">View Replies</span>
                        </button>

                        <button
                          href="blog-article.html#"
                          class="btn btn-small"
                          onclick="addReplyBox(`<%= comment._id %>`, `<%= comment.depth %>`)"
                        >
                          <i class="fas fa-reply"></i>
                          <span class="text-muted">Reply</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <% } %>
                <div class="media media-comment align-items-center">
                  <img
                    alt="Image placeholder"
                    class="avatar rounded-circle shadow mr-4"
                    src="<%= user.image %>"
                  />
                  <div class="media-body">
                    <form
                      class="post-<%= post._id %>"
                      id="post-<%= post._id %>"
                    >
                      <div class="form-group mb-0">
                        <div class="input-group input-group-merge border">
                          <textarea
                            class="form-control"
                            data-toggle="autosize"
                            name="commentText"
                            id="commentText"
                            placeholder="Write your comment"
                            rows="1"
                          ></textarea>
                          <div class="input-group-append">
                            <button
                              class="btn btn-primary"
                              form="post-<%= post._id %>"
                              id="comment-button-<%= post._id %>"
                              type="submit"
                            >
                              <span class="fas fa-paper-plane"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="/libs/autosize/dist/autosize.min.js"></script>
    <!-- Purpose JS -->
    <script src="/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="/js/demo.js"></script>
    <!-- onclick="addComment(`post-<%= post._id %>`, 1, null, `<%= user.username%>`, )" -->
    <script>
      function addAlpha(color, opacity) {
        // coerce values so ti is between 0 and 1.
        const _opacity = Math.round(
          Math.min(Math.max(opacity || 1, 0), 1) * 255
        );
        return color + _opacity.toString(16).toUpperCase();
      }
      const coverDiv = document.querySelector("#bg-cover");
      coverDiv.style.backgroundImage = `url(<%= post.cover %>)`;
      const article = document.querySelector("article");
      let children = article.children;
      for (let i = 0; i < children.length; i++) {
        let child = children[i];
        // child.style.color = `#8492A6`;
        child.style.background = addAlpha("#F8F8FB", 1);
        child.style.fontFamily = ``;
      }
    </script>

    <script>
      const commentForm = document.querySelector(`.post-<%- post._id %>`);
      commentForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const commentText = commentForm.commentText.value;
        const postId = `<%= post._id %>`;
        const depth = 1;
        const parentId = null;
        const formData = new FormData();
        formData.append("commentText", commentText);
        formData.append("postId", postId);
        formData.append("depth", depth);
        formData.append("parentId", parentId);
        try {
          const res = await fetch("/comment/add", {
            method: "POST",
            body: formData,
          });
          const data = await res.json();
          if (data._id) {
            console.log(data._id);
            window.location.reload(true);
          } else {
            throw new Error("Something went wrong");
          }
        } catch (error) {
          alert("Oops something went wrong !");
        }
      });
    </script>

    <script>
      const addReplyBox = (parentId, parentDepth) => {
        const parentComment = document.querySelector(`#comment-${parentId}`);
        const replyBox = document.createElement("div");
        replyBox.classList.add("media", "media-comment", "align-items-center");
        let replyButtonFunction =
          "replyFunction(`" + parentId + "`," + "`" + parentDepth + "`)";
        replyBox.innerHTML = `
        <img
                    alt="Image placeholder"
                    class="avatar rounded-circle shadow mr-4"
                    src="<%= user.image %>"
                  />
                  <div class="media-body">
                    <form
                      class="comment-reply-${parentId}"
                      id="comment-<%= user.username %>-${parentId}-${parentDepth}"
                      
                    >
                      <div class="form-group mb-0">
                        <div class="input-group input-group-merge border">
                          <textarea
                            class="form-control"
                            data-toggle="autosize"
                            name="commentText"
                            id="commentText"
                            placeholder="Write your comment"
                            rows="1"
                          ></textarea>
                          <div class="input-group-append">
                            <button
                              class="btn btn-primary"
                              form="comment-${parentId}"
                              id="comment-button-${parentId}"
                              onclick = "${replyButtonFunction}"
                              type="submit"
                            >
                              <span class="fas fa-paper-plane"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
        
        `;
        parentComment.appendChild(replyBox);
        // const replyForm = document.querySelector(`.comment-reply-${parentId}`);

        // replyForm.addEventListener("submit", async (e) => {
        //   e.preventDefault();
        //   console.log("HERE");
        //   console.log(replyForm);
        //   console.log(parentId, parentDepth);
        // });
      };
    </script>
    <script>
      const replyFunction = async (parentId, parentDepth) => {
        const replyForm = document.querySelector(`.comment-reply-${parentId}`);
        const commentText = replyForm.commentText.value;
        const postId = `<%= post._id %>`;
        const depth = Number(parentDepth) + 1;
        const formData = new FormData();
        formData.append("commentText", commentText);
        formData.append("postId", postId);
        formData.append("depth", depth);
        formData.append("parentId", parentId);
        try {
          const res = await fetch("/comment/add", {
            method: "POST",
            body: formData,
          });
          const data = await res.json();
          if (data._id) {
            console.log(data._id);
            window.location.reload(true);
          } else {
            throw new Error("Something went wrong");
          }
        } catch (error) {
          alert("Oops something went wrong !");
        }

        // console.log(replyForm.commentText.value);
      };
    </script>

    <script>
      const loadReplies = async (parentId, parentDepth) => {
        try {
          const res = await fetch(
            `/comment/threads?parentId=${parentId}&parentDepth=${parentDepth}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          );
          const data = await res.json();
          const parentBody = document.querySelector(`#comment-${parentId}`);
          for (var comment of data.comments) {
            const commentBox = document.createElement("div");
            commentBox.classList.add("media", "media-comment");
            let replyButtonFunction =
              "addReplyBox(`" + comment._id + "`," + "`" + comment.depth + "`)";
            let loadRepliesButtonFunction =
              "loadReplies(`" + comment._id + "`," + "`" + comment.depth + "`)";
            commentBox.innerHTML = `<img
                    alt="Image placeholder"
                    class="rounded-circle shadow mr-4"
                    src="${comment.authorImage}"
                    style="width: 64px"
                  />
                  <div class="media-body" id="comment-${comment._id}">
                    <div class="media-comment-bubble left-top">
                      <h6 class="mt-0"><%= comment.author %></h6>
                      <p class="text-sm lh-160"> ${comment.commentText} </p>
                      <div class="icon-actions">
                        <button
                          href="blog-article.html#"
                          class="btn btn-small"
                          onclick="${loadRepliesButtonFunction}"
                        >
                          <i class="fas fa-comment"></i>
                          <span class="text-muted">View Replies</span>
                        </button>
                        <!-- <a href="blog-article.html#" class="love active">
                          <i class="fas fa-heart"></i>
                          <span class="text-muted">10 likes</span>
                        </a> -->

                        <button
                          href="blog-article.html#"
                          class="btn btn-small"
                          onclick="${replyButtonFunction}"
                        >
                          <i class="fas fa-reply"></i>
                          <span class="text-muted">Reply</span>
                        </button>
                      </div>
                    </div>
                  </div>`;
            parentBody.appendChild(commentBox);
          }
        } catch (error) {
          alert("Oops something went wrong!");
        }
      };
    </script>
  </body>
</html>
